@import '../vars.scss';

.add-friend-page {
    font-family: $main-font;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    .search {
        display: block;

        .searchbar {
            font-family: $main-font;
            height: 60px;
            width: 92%;
            padding: 10px;
            font-size: 25px;
            border: 2px solid $journey-purple;
            border-radius: 5px;
            color: $journey-dark-grey;
            box-sizing: border-box;

            ::placeholder {
                color: $journey-light-grey;
            }

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $journey-light-grey;
            }

            ::-moz-placeholder { /* Firefox 19+ */
                color: $journey-light-grey;
            }

            :-ms-input-placeholder { /* IE 10+ */
                color: $journey-light-grey;
            }

            :-moz-placeholder { /* Firefox 18- */
                color: $journey-light-grey;
            }
        }

        .search-button {
            position: relative;
            left: -2vw;
            height: 60px;
            width: 60px;
        }
    }
}