@import '../vars.scss';

// most header styles implemented in universalStyle.scss

.single-entry-text-box {
  height: 70vh;
  padding: 10px;
  box-sizing: border-box;
  border: 1pt solid $journey-purple;
  box-shadow: 5px 5px 5px $journey-light-grey;
  overflow: scroll;
}

.text {
    font-family: $main-font;
    font-size: 1em;
    padding: 10px;
}

#single-entry-header {
  .toggle-friend-button {
    
  }
}