@import '../vars.scss';

.single-entry-header {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  font-family: "PT Sans";
  font-weight: 200;
  color: $journey-grey;
  display: inline;
  padding: 10px;
}

.text {
  font-family: "PT Sans";
}

.header-author {
  font-size: 35px;
}

.header-date {
  font-size: 20px;
}