@import '../vars.scss';

.single-entry-header {
    display: block;
    height: 100px;
    width: 96%;
    font-family: "PT Sans";
    position: relative;
}

.button-container {
  position: relative;
  display: inline;
  float: right;
    .header-button {
      margin-left: 10px;
      margin-top: 30px;
    }
}

.headerAndButton {
  display: flex;
  flex-direction: row;
}

.text-box {
  position: relative;
  padding-top: 30px;
}

.text {
    font-family: "PT Sans";
    font-size: 1em;
    border: 1pt solid $journey-purple;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: -.5%;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, .5);
}

#user {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    color: #bbb;
    font-size: .7em;
    margin-right: 1%;
}

.header-author {
    font-size: 35px;
}

.header-date {
    margin-top: -1%;
    font-size: 20px;
}