@import '../vars.scss';

// header styles in universalStyle.scss

    h2 {
        font-size: 35px;
        font-family: "PT Sans";
        font-weight: 400;
        padding: 10px;
        line-height: 60px;
        color: $journey-dark-grey;
        display: inline;
    }

    h3 {
        font-size: 20px;
        font-family: "PT Sans";
        font-weight: 200;
        color: $journey-dark-grey;
        display: inline;
        padding: 10px;
     }
// }

.homepage-text-editor {
    
}

.your-past-entries-title {
    display: block;
    margin: 30px 0px 15px 20px;
    padding: 0;
}
