@import '../vars.scss';

.sidescroll-entries {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-right: -30px;  // to cancel out page-body padding
  margin-bottom: -5px;  // "
  overscroll-behavior-x: auto;
  font-family: "PT Sans";

  .no-entries-wrapper {
    display: block;
    width: 80%;
    height: 70%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .no-entries-text {
      font-size: 18px;
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
}


#homepage-sidescroll-entries {
  height: 55vh;
  min-height: 300px;
}

#calendar-sidescroll-entries {
  height: 80vh;
  min-height: 350px;
}

.sidescroll-panel {
  flex: 0 0 auto;
  display: inline-block;
  font-family: "PT Sans";
  background-color: $journey-light-grey;
  padding: 20px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: 2px 2px 3px $journey-mid-grey;

  .panel-date-header {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-family: "PT Sans";
    font-size: 20px;
    color: white;
    background-color: $journey-purple;
    height: 22px;
    border-radius: 15px 15px 0px 0px;
    margin: -20px;  // to cancel out panel padding
    padding: 10px;
  }

  .panel-content {
    font-family: "PT Sans";
    color: $journey-dark-grey;
    white-space: pre-line;
    padding-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 14; // max lines to show
    -webkit-box-orient: vertical;
  }
}

#homepage-sidescroll-panel {
  width: 225px;
  height: 45vh;
  min-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#calendar-sidescroll-panel {
  width: 300px;
  height: 70vh;
  min-height: 300px;

  .sidescroll-calendar-panel-content {
    overflow-y: auto;
    overflow-x: hidden;

    .sidescroll-calendar-panel-entry {
      width: 100%;
      height: 135px;
      padding: 15px 15px 10px 15px;
      border-bottom: 1px solid $journey-purple;
      box-sizing: border-box;
      display: inline-block;
      white-space: pre-line;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; // max lines to show
      -webkit-box-orient: vertical;

      .display-name {
        font-size: 20px;
      }

      .username {
        color: $journey-mid-grey;
        margin-bottom: 5px;
      }

      .entry-text {
        font-size: 14px;

        :after {  // spacer
          content:'';
          display: block;
          height: 20px;
        }
      }
    }
  }
}

#calendar-link-panel {
  width: 225px;
  height: 45vh;
  font-size: 20px;
  text-align: center;
  line-height: 1.8;

  .calendar-link-panel-text {
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}