@import '../vars.scss';

.homepage-sidescroll-entries {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

.entry {
  font-family: "PT Sans";
  background-color: $journey-light-grey;
  width: 250px;
  padding: 10px;
  overflow: hidden;
  border-radius: 15px;
  min-height: 200px;
}

.calendar-panel {
  background-color: $journey-light-grey;
  width: 250px;
  font-family: "PT Sans";
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  line-height: 1.8;
  min-height: 400px;

  .calendar-panel-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.panel-author {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  color: $journey-dark-grey;
  display: inline;
}

.date {
  font-size: 17px;
  font-weight: 200;
  color: white;
  background-color: $journey-purple;
}

.panel-text {
  font-family: "PT Sans";
  width: 400px;
  margin-top: 2%;
  padding-right: 40px;
}