@import '../vars.scss';

.homepage-sidescroll-entries {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-right: -30px;  // to cancel out page-body padding
  overscroll-behavior-x: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.sidescroll-panel {
  flex: 0 0 auto;
  display: inline-block;
  font-family: "PT Sans";
  background-color: $journey-light-grey;
  width: 225px;
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 15px;
  height: 45vh;
  min-height: 300px;
  margin-right: 15px;
  box-shadow: 2px 2px 3px $journey-mid-grey;

  .panel-date-header {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-family: "PT Sans";
    font-size: 20px;
    color: white;
    background-color: $journey-purple;
    height: 22px;
    border-radius: 15px 15px 0px 0px;
    margin: -20px;  // to cancel out panel padding
    padding: 10px;
  }

  .panel-text {
    font-family: "PT Sans";
    color: $journey-dark-grey;
    padding-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#calendar-panel {
  font-size: 20px;
  text-align: center;
  line-height: 1.8;

  .calendar-panel-text {
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}