@import '../vars.scss';

.new-entry-header {
    display: block;
    height: 100px;
    width: 100%;
    font-family: "PT Sans";
    position: relative;

    h2 {
        font-size: 35px;
        font-weight: 400;
        padding: 10px;
        line-height: 60px;
        color: $journey-grey;
        display: inline;
    }

    h3 {
        font-size: 20px;
        font-weight: 200;
        color: $journey-grey;
        display: inline;
        padding: 10px;
    }
}
