@import '../vars.scss';

.editButton {
  background-color: #ffffff;
  border: 2px solid #a498d3;
  color: #a498d3;
  font-size: 15px;
  text-align: center;
  border-radius: 8px;
  transition-duration: 0.4s;
  position: absolute;
  top: 50px;
  right: 0px;
}

.editButton:hover {
  background-color: #a498d3;
  color: #ffffff;
}

.singleEntryHeader {
  display: block;
  height: 100%;
  box-sizing: border-box;
  height: 100px;


  font-size: 20px;
  font-family: "PT Sans";
  font-weight: 200;
  color: $journey-grey;
  display: inline;
  padding: 10px;
}
