.base {
  display: grid;
  grid-template-areas: 'header header header header header'
                       'menu menu menu main main';
}

.header{
  grid-area: header;
  background-color: #a498d3;
  color: #ffffff;
  text-align: center;
  font-family: "PT Sans";
  font-size: 40px;

}

.sidebar {
  grid-area: menu;
}

.textEditor {
  grid-area: main;
}
