@import './vars.scss';

.author {
  font-size: 35px;
  font-family: "PT Sans";
  font-weight: 400;
  padding: 10px;
  line-height: 60px;
  color: $journey-grey;
  display: inline;
}

.date {
  font-size: 20px;
  font-family: "PT Sans";
  font-weight: 200;
  color: $journey-grey;
  display: inline;
  padding: 10px;
}

.entry-text {
  font-family: "PT Sans";
  padding: 10px;
}
