.navbar {
  display: flex;
  background-color: #a498d3;
  align-items: stretch;
  min-height: 100vh;
  width: 10%;
}

.navbar a {
  color: #ffffff;
  display: block;
  text-align: left;
  margin-left: -16px;
}

.calendarView {

}

.boop {

}
