@import './vars.scss';

body {
    margin: 0;
    width: 100vw;
    font-family: $main-font;
    color: $journey-dark-grey;
}

.ribbon {
    font-family: $main-font;
    position: fixed;
    display: block;
    width: 100vw;
    height: 65px;
    background-color: $journey-purple;
    z-index: 2;
    margin: 0;

    svg {
        fill: white;
        height: 50px;
        padding: 8px 0px 8px 20px; /* top | right | bottom | left */
    }
}

nav {
    background-color: white;
    height: 100vw;
    width: 55px;
    position: fixed;
    left: 0;
    top: 65px;
    z-index: 2;
    border-right: 3px solid $journey-purple;

    .nav-button {
        background-color: transparent;
        border: none;
        padding: 0px;

        svg {
            fill: $journey-purple;
        }
    }

    .nav-button:hover {
        svg {
            fill: $journey-purple-light;
        }
    }

    svg {
        fill: white;
        padding: 20px 15px;
        display: block;
        width: 25px;
        height: 25px;

        :hover {
            fill: $journey-purple-light;
        }
    }
}

.page-body {
    // not scrollable!
    position: fixed;
    padding: 90px 20px 20px 85px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

// HEADERS

h2 {
    font-family: $main-font;
    font-size: 35px;
    font-weight: 400;
    padding: 10px;
    line-height: 60px;
    color: $journey-dark-grey;
    display: inline;
}

h3 {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 200;
    color: $journey-dark-grey;
    display: inline;
    padding: 10px;
}

.page-header {
    position: relative;
    display: block;
    height: 115px;
    width: 100%;
    position: relative;
}


.button {
    font-family: $main-font;
}

.journey-button {
    font-family: $main-font;
    background-color: #fff;
    color: $journey-purple;
    border: 2px solid $journey-purple;
    text-align: center;
    border-radius: 5px;
    transition-duration: 0.4s;
    height: 40px;
    width: 40px;
    padding-top: 5px;
    float: right;

    svg {
        width: 20px;
        height: 20px;
        stroke: none;
        fill: $journey-purple;

        .cls-1 {
            fill-rule: evenodd;
        }
    }
}

.journey-button:hover {
    background-color: $journey-purple;
    color: white;

    svg {
        fill: #fff;
    }
}

.header-button-container {
    position: absolute;
    top: 15px;
    right: 0px;

    .header-button {
        margin-left: 10px;
    }
}

a {
    color: $journey-purple;
    text-decoration: none;

    :hover {
        color: $journey-purple-dark;
    }
}