// font
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
$main-font: 'PT Sans', sans-serif;

// colors
$journey-light-grey: #F7F7F7;
$journey-mid-grey: #AEACB1;
$journey-dark-grey: #8B888D;

$journey-purple: #A498D3;
$journey-purple-light: #CBC5E8;
$journey-purple-dark: #8E84B7;